* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.container {
  width: 1140px;
  margin: auto;
}
/* header styles */
.header {
  background-image: url("../images/banner/banner2.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
}
.header-info {
  margin-left: 772px;
  text-align: right;
}
.header-title {
  color: #151414;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}
.header-description {
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 23px;
}
.header-btn {
  padding: 13px 23px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background: #14c86e;
  color: #fff;
}

/* failures of previous year styles */
.failures-wrapper {
  margin-top: 62px;
  margin-bottom: 80px;
}
.failures-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 87px;
}
.failures-left img {
  width: 396px;
}
.failures-right h1 {
  color: #151414;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 24px;
}
.failures-right p {
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
}
.failures-items-list li {
  list-style-type: none;
  margin-left: -39px;
  color: #444343;
  margin-bottom: 9px;
}
.failures-items-list .check-icon {
  color: #14c86e;
  font-size: 19px;
  margin-right: 3px;
}

/* my plan styles */
.my-plan-title {
  text-align: center;
  color: #151414;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 50px;
}
.my-plan-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 86px;
  margin-bottom: 124px;
}
.plan-card img {
  width: 74px;
  margin-bottom: 24px;
}
.plan-card h1 {
  color: #151414;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}
.plan-card p {
  color: #737272;
  font-weight: 500;
  font-size: 19px;
}
