* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.container {
  width: 1140px;
  margin: auto;
}
/* header styles */
.header {
  background-image: url("../images/banner/banner2.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
}
.header-info {
  margin-left: 772px;
  text-align: right;
}
.header-title {
  color: #151414;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}
.header-description {
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 23px;
}
.header-btn {
  padding: 13px 23px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background: #14c86e;
  color: #fff;
  cursor: pointer;
}

/* failures of previous year styles */
.failures-wrapper {
  margin-top: 62px;
  margin-bottom: 80px;
}
.failures-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 87px;
}
.failures-left img {
  width: 396px;
}
.failures-right h1 {
  color: #151414;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 24px;
}
.failures-right p {
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
}
.failures-items-list li {
  list-style-type: none;
  margin-left: -39px;
  color: #444343;
  margin-bottom: 9px;
}
.failures-items-list .check-icon {
  color: #14c86e;
  font-size: 19px;
  margin-right: 3px;
}

/* my plan styles */
.my-plan-title {
  text-align: center;
  color: #151414;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 50px;
}
.my-plan-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 86px;
  margin-bottom: 124px;
}
.plan-card img {
  width: 74px;
  margin-bottom: 24px;
}
.plan-card h1 {
  color: #151414;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}
.plan-card p {
  color: #737272;
  font-weight: 500;
  font-size: 19px;
}

/* do not waste time section styles */
.do-not-waste-parent {
  background-image: url(../images/watch.png);
  height: 300px;
}
.do-not-waste-text {
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  height: 300px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 64px;
  border-radius: 8px;
}
.do-not-waste-text h1 {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  margin-bottom: 21px;
}
.do-not-waste-text button {
  border: none;
  background: #ffffff;
  border-radius: 5px;
  padding: 14px 24px;
  color: #f15b22;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

/* footer section style */
footer {
  background: #151414;
}
.footer-items {
  margin-top: 130px;
  padding: 130px 0px 130px 0px;
  display: flex;
  gap: 331px;
}
.footer-left {
  color: #ffffff;
}
.footer-left h1 {
  color: #f8f8f8;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 16px;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}
.email {
  font-size: 15px;
  margin-bottom: 16px;
}
.number {
  font-size: 15px;
  margin-bottom: 32px;
}
.social-icon-area a {
  text-decoration: none;
}
.social-icon-area .future-social-icon {
  width: 43px;
  margin-right: 17px;
}

.future-right h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 31px;
}
.future-input {
  width: 325px;
  padding: 13px 11px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-bottom: 16px;
  outline: none;
  background: transparent;
  color: #fff;
}
.future-button {
  background: #ffffff;
  border-radius: 8px;
  color: #f15b22;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
